/* syntax for any css object is  */
/* selector{                          this is our WHO is to be changed */
/*    property:value ;                this is WHAT : HOW to be changed */
/* }  */

               /* TAG SELECTORS */

/* h1{
    color: red;
    font-size: 150px ;
} */


                /* CLASS SELECTORS */

.pizza{
    background-color:greenyellow ;
}
.broccoli{
    background-color: red;
}
.circular{
    border-radius:40% ;
}

                /* ID SELECTORS */

#heading{
    color: brown;
}

body{
    background-color: #FFFDE1;
}

hr{
  width: 20%;
  border-style: none;
  border-top-style: dotted ;
  border-color:#51EAEA ;
  border-width: 5px;
}
img :hover{
  height: 200px;
 
}
h1{
    color: #FB3569;
    font-size: 75px;
}
h3{
    color: #FB3569;
    font-size: x-large;
}